{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Masterbatch Philipines Inc. - Business System</title>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/bootstrap-icons.css' %}">
    <link rel="stylesheet" href="{% static 'css/sidebar.css' %}">
</head>
<body>
    
    <div class="wrapper">
    <!-- Include Sidebar -->
    {% include 'sidebar.html' %}

    <!-- Main Content -->
    <div class="main">
        <nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom">
            <div class="container-fluid">
                <!-- If you want a toggle button also in the top navbar for mobile -->
                <span class="navbar-brand">Dashboard</span>
            </div>
        </nav>
        
        <div class="content p-4">
            {% block content %}{% endblock %}
        </div>
        {% include 'footer.html' %}
    </div>
</div>

</div>

    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/sidebar.js' %}"></script>

</body>
</html>


