{% load static %}


<footer class="footer d-print-none mt-auto">
    <div class="container-fluid px-4">
        <div class="row align-items-center justify-content-between flex-column flex-md-row text-center text-md-start">
            <div class="col-auto">
                <div class="text-muted small">
                    © 2026 MBPI Business System | 
                    <a href="#" id="themeToggle" class="text-teal fw-bold text-decoration-none">Try Dark Mode</a>
                </div>
            </div>
            <div class="col-auto my-2 my-md-0">
                <div class="text-primary fw-bold small" id="datetimeFooter"></div>
            </div>
            <div class="col-auto">
                <div class="text-muted small">Version 0.1.0</div>
            </div>
        </div>
    </div>
</footer>