<div class="modal fade" id="cmfDetailModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content shadow-lg border-0">
            <div class="modal-header">
                <h5 class="modal-title fw-bold">CMF Detailed History</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table id="modalDataTable" class="table table-hover w-100 align-middle">
                        <thead>
                            <tr class="small text-uppercase">
                                <th></th> <!-- Expansion -->
                                <th>CMF No.</th>
                                <th>Customer</th>
                                <th>Primary Color</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>