.cmf-entry-card {
    background-color: var(--card-bg);
    border: 1px solid var(--sidebar-border);
    border-radius: 0.6rem; 
}

.cmf-section-title {
    color: #0d9488;
    font-size: 0.8rem;
    font-weight: 700;
    border-left: 3px solid #0d9488;
    padding-left: 10px;
    text-transform: uppercase;
}

.ts-dropdown .active {
    background-color: #12b3a542 !important; /* Your teal color */
    color: #0d9488 !important;
}

/* Match the small input height exactly */
.ts-wrapper.form-select-sm .ts-control {
    min-height: 31px;
    padding: 2px 8px;
    font-size: 0.875rem;
}

body.dark-mode .cmf-entry-card { border-color: var(--sidebar-border); }